@use '../../../node_modules/streamix-runtime/src/_utils' as *;

.[name-of-your-package] {
  --horiz: #{dsu(0.5)};
  --vert: #{dsu(0.5)};
  --primaryBg: cornflowerblue;
  --primaryText: white;
  --primaryFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --barBg_1: lightcoral;
  --barBg_2: antiquewhite;
  --barBg_3: lightcoral;
  --barBg_4: antiquewhite;
  --barBg_5: lightcoral;

  .Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .Plate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primaryBg);
  }

  .Bar_1 {
    position: absolute;
    top: dsu(1);
    left: 0;
    width: dsu(42);
    height: dsu(2);
    background-color: var(--barBg_1);
    transform: translateX(100%);
  }
  .Bar_2 {
    position: absolute;
    top: dsu(5);
    left: 0;
    width: dsu(42);
    height: dsu(2.5);
    background-color: var(--barBg_2);
    transform: translateX(-100%);
  }
  .Bar_3 {
    position: absolute;
    top: dsu(8);
    left: 0;
    width: dsu(42);
    height: dsu(3);
    background-color: var(--barBg_3);
    transform: translateX(100%);
  }
  .Bar_4 {
    position: absolute;
    top: dsu(12);
    left: 0;
    width: dsu(42);
    height: dsu(4);
    background-color: var(--barBg_4);
    transform: translateX(-100%);
  }
  .Bar_5 {
    position: absolute;
    top: dsu(16);
    left: 0;
    width: dsu(42);
    height: dsu(2);
    background-color: var(--barBg_5);
    transform: translateX(100%);
  }
  
  .Title {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;

    font-family: var(--primaryFont);

    border-radius: dsu(0.25);
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
    color: var(--primaryText);
    text-shadow: 1px 1px black;
    font-size: dsu(0.5);


    .inner {
      display: flex;
      flex-direction: column;
      position: relative;
      box-sizing: border-box;
      align-items: center;
      padding: 0.5em 1.5em 0.3em;
    }

    .name {
      font-size: 4em;
      text-align: center;
      white-space: nowrap;
      margin-bottom: -2rem;
    }
    .title {
      font-size: 3em;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
      padding-top: 0.3em;
    }
  }

  // Animation

  .BackgroundAnim {
    &-enter {
      transform: translateY(-1px);
      .Plate {
        transform: translateX(-100%);
      }
      .Bar_1, .Bar_3, .Bar_5 {
        transform: translateX(-100%);
      }
      .Bar_2, .Bar_4 {
        transform: translateX(100%);
      }
    }
    
    &-leave-end { // Start and end with element collapsed and fully transparent
      transform: translateY(-1px);
      .Plate {
        transform: translateX(100%);
      }
      .Bar_1, .Bar_3, .Bar_5 {
        transform: translateX(-100%);
      }
      .Bar_2, .Bar_4 {
        transform: translateX(100%);
      }
    }

    &-enter-active {
      transition: transform 1.5s;
      pointer-events: none; /* (optional) prevent hover to fire transition events causing early termination */
      .Plate {
        transition: all 0.5s ease-in-out 0.2s;
      }
      .Bar_1, .Bar_2, .Bar_3, .Bar_4, .Bar_5 {
        transition: all 1.0s ease-in-out;
      }
    }

    &-leave-active {
      transition: transform 1.0s;
      pointer-events: none; /* (optional) prevent hover to fire transition events causing early termination */

      .Plate {
        transition: all 0.5s ease-in-out 0.5s;
      }
      .Bar_1, .Bar_2, .Bar_3, .Bar_4, .Bar_5 {
        transition: all 1.0s ease-in-out;
      }
    }

    &-enter-end,
    &-leave { // Animate to and from full height with full opacity
      transform: translateY(0);
    }
  }

  .TitleAnim {
    &-enter,
    &-leave-end { // Start and end with element collapsed and fully transparent
      .inner {
        opacity: 0;
      }
    }

    &-enter-active {
      transition: all 1s;
      pointer-events: none; /* (optional) prevent hover to fire transition events causing early termination */

      .inner {
        transition: all 0.5s ease-out 0.5s;
      }
    }

    &-leave-active {
      transition: all 1s;
      pointer-events: none; /* (optional) prevent hover to fire transition events causing early termination */

      .inner {
        transition: all 0.5s ease-in;
      }
    }

    &-enter-end,
    &-leave { // Animate to and from full height with full opacity
      .inner {
        opacity: 1;
      }
    }
  }
}

#streamix-key-source .[name-of-your-package] {
  .Background {
    background-color: transparent;
  }

  .Background > div {
    opacity: 1;
    color: white!important;
    background-color: white!important;
  }

  .Title {
    visibility: hidden;
  }
}
